/*
Backgrounds
*/

// html background
html{
    background-color: @html-background-color;
}
// body background
body {
    background-color: @body-background-color;
}

.aa-back-1 {
    background: @color1;
}
.aa-back-2 {
    background: @color2;
}
.aa-back-3 {
    background: @color3;
}
.aa-back-4 {
    background: @color4;
}
.aa-back-5 {
    background: @color5;
}
.aa-back-white {
    background: white;
}

// round image
.aa-round-image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}