/*
Text format
*/
//Font family
.aa-font-family-body {
  font-family: @font-body;
}
.aa-font-family-head {
  font-family: @font-head;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Size modifiers
.aa-text-base {
  font-size: 1em;
}
p,
.aa-text-p {
  font-size: @paragraph-text-size;
  line-height: 1.4em;
}
.aa-text-small {
  font-size: 0.8em;
}
.aa-text-large {
  font-size: 1.2em;
}

[class*='aa-text-h'] {
  font-family: @font-head;
  font-weight: @head-font-weight;
}
.aa-text-h1-like {
  font-size: @h1;
}
.aa-text-h2-like {
  font-size: @h2;
}
.aa-text-h3-like {
  font-size: @h3;
}
.aa-text-h4-like {
  font-size: @h4;
}

//Weight modifiers
.aa-weight-light {
  font-weight: @text-light;
}
.aa-weight-normal {
  font-weight: @text-normal;
}
.aa-weight-bold {
  font-weight: @text-bold;
}
.aa-weight-head-light {
  font-weight: @head-light;
}
.aa-weight-head-normal {
  font-weight: @head-normal;
}
.aa-weight-head-bold {
  font-weight: @head-bold;
}


//Color modifiers
.aa-color1 {
  color: @color1;
}
.aa-color2 {
  color: @color2;
}
.aa-color3 {
  color: @color3;
}
.aa-color4 {
  color: @color4;
}
.aa-color5 {
  color: @color5;
}
.aa-text-color {
  color: @text-primary-color;
}
.aa-text-white {
  color: white;
}
.aa-text-red {
  color: @color-red;
}


/*
Text decoration
*/
.aa-decoration-none,
.aa-decoration-none:hover,
.aa-decoration-none:focus,
.aa-decoration-none:active {
  text-decoration:none;
}
.aa-decoration-white,
.aa-decoration-white:focus {
  color:white !important;
}
.aa-decoration-color3 {
  color: @color3;
}
.aa-decoration-color3:hover {
  color: @color3-lighten;
}
.aa-decoration-color4 {
  color: @color4;
}
.aa-decoration-color4:hover {
  color: @color4-lighten;
}
.aa-decoration-red {
  color: @color-red;
}
.aa-decoration-red:hover,
.aa-decoration-red:focus {
  color: @color-red;
}
.aa-decoration-text {
  color: @text-primary-color;
}
.aa-decoration-text:hover,
.aa-decoration-text:focus {
  color: @color1;
}

//head decoration
.aa-decoration-head {
  color: @head-primary-color;
}
.aa-decoration-head:hover, .aa-decoration-head:focus, .aa-decoration-head:active {
  color: @color1;
}

// padding styles
.aa-padding-10 {
  padding:10px;
}
.aa-padding-lr-10 {
  padding: 0px 10px;
}
.aa-padding-lr-30 {
  padding: 0px 30px;
}
.aa-padding-top-3 {
  padding-top:3px;
}
.aa-padding-top-5 {
  padding-top: 5px;
}
.aa-padding-top-7 {
  padding-top:7px;
}





// Screen modifier
@media screen and (max-width: @breakpoint-small) {

  h1 {
    font-size: @h1 * 0.7em;
    line-height: @head-line-height * 0.8em;
  }
  h2 {
    font-size: @h2 * 0.85em;
    line-height: @head-line-height * 0.95em;
  }
  h3 {
    font-size: @h3 * 0.9em;
  }
  h4 {
    font-size: @h4 * 0.95em;
  }
  h5 {
    font-size: @h4 * 0.95em;
  }
}